.navbar {
  background-color: #0f172a;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: white;
  font-size: 22px;
  font-weight: 600;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.navbar-links li:hover {
  color: #93c5fd;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-links a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size:16px;
}
